In [1]:
from risk_scores import RiskScores
import pandas as pd

In [2]:
df = pd.read_csv("../../data/census_data/income_CA_2018.csv")
df["income"] = (df["income"]>=50000).astype(int)

In [3]:
label = "income"
attributes = ["sex", "race"]
features = [f for f in df.columns if f not in ["sex", "race", "income"]]
random_seed = 0
method = "log"

In [4]:
rs = RiskScores(df, features, label, attributes, random_seed, method)

In [5]:
results = rs.get_risk_scores()

100%|███████████████████████████████████████████| 11/11 [00:15<00:00,  1.45s/it]
100%|█████████████████████████████████████████████| 5/5 [00:05<00:00,  1.09s/it]

In [6]:
results.head()

,y,sex,race,risk,risk_b0,risk_b1,risk_b2,risk_b3,risk_b4,risk_b5,risk_b6,risk_b7,risk_b8,risk_b9,risk_b10,outlier_pval
0,1,1,1,0.562304,0.566762,0.572909,0.563676,0.561607,0.552454,0.549283,0.537727,0.540132,0.571389,0.546822,0.569981,0.117437
1,1,1,1,0.771974,0.773620,0.772659,0.769348,0.776049,0.772958,0.777199,0.772418,0.772222,0.769805,0.769270,0.774785,0.993319
2,0,0,0,0.373902,0.372424,0.373328,0.361549,0.367434,0.372396,0.372658,0.366162,0.380775,0.374620,0.383742,0.375868,0.594682
3,1,0,1,0.369213,0.374637,0.378831,0.385212,0.366399,0.364606,0.363721,0.357936,0.346858,0.373188,0.359883,0.371155,0.145284
4,0,1,1,0.976284,0.977938,0.977249,0.979476,0.978169,0.975613,0.977308,0.974995,0.978513,0.978080,0.976609,0.974879,0.031881

In [7]:
results.to_csv("../../data/census_results/"+label+"_"+method+str(random_seed), index=False)